<div class="block">
    <div class="calculate">
            <div class="calculate__screen">
                <div class="calculate__minimize"><img src="/assets/images/min.png" alt="Не загружено" class="calculate__min"></div>
                <div class="calculate__close">
                    <span class="calculate__x"></span>
                </div>
                <div class="calculate__result">0</div>
            </div>
            <div class="calculate__buttons">
                <form action="">
                    <button></button><button></button><button></button><button></button><button></button><button></button><button></button><button></button><button></button><button></button><button></button><button></button><button></button><button></button><button></button><button></button><button></button><button></button><button></button><button></button>
                </form>
            </div>
    </div>
</div>
`